<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

/* Acerca de nosotros  */
#tituloNosotros {
  font-size: 80px;
  font-family: "Playfair Display", serif;
}

/* Pagina Principal */

#imagenMapaArgentina{
    width: 100px;
}

#subtituloNosotros {
  font-size: 30px;
  font-family: "Playfair Display", serif;
}

/* footer {
  background-color: #dedada;
  background-image: linear-gradient(
    180deg,
    #dedada 0%,
    #222325 50%,
    #060606 100%
  );
} */
=======
/*Codigo background Login*/


>>>>>>> 0ca4384949a2fa1b9cb48c6aa932646f456a3d60
